FRP_MANAGER_ADMIN_USER=admin
FRP_MANAGER_ADMIN_HASH_PATH=/etc/frp-manager/admin-password.hash
FRP_MANAGER_PUBLIC_IP=
FRP_MANAGER_PORT=7400
FRP_MANAGER_FRPS_BINARY=/usr/local/bin/frps
FRP_MANAGER_FRPS_UNIT=frps.service
FRP_MANAGER_FRPS_CONFIG=/etc/frp/frps.toml
FRP_MANAGER_FRPS_GID=0
FRP_MANAGER_STATE=/etc/frp-manager/state.json
FRP_MANAGER_DEVICES=/etc/frp-manager/devices.json
FRP_MANAGER_WEB_ROOT=/opt/frp-manager/web
FRP_MANAGER_TLS_CERT=/etc/frp-manager/tls.crt
FRP_MANAGER_TLS_KEY=/etc/frp-manager/tls.key
FRP_MANAGER_CONTROL_SERVICE_UNIT=frp-control.service
FRP_MANAGER_CONTROL_NFT_PATH=/etc/frp-manager/control-ports.nft
FRP_MANAGER_NFT_BINARY=/usr/sbin/nft
